/*
pallet[ https://colorhunt.co/palette/393939849561eed690ecefd8 ]
*/
:root {
    --dark: #393939;
    --green: #849561;
    --yellow: #EED690;
    --light-green: #ECEFD8;
}
html {
    overflow-x: auto;
}
body {
    font-family: serif;
    overflow-x: hidden;
}
section {
    padding-top: 30px;
    padding-bottom: 30px;
}
h1,h2,h3 {
    text-transform: uppercase;
}
/*  start top bar */
.top-bar {
    background-color: var(--dark);
    color: var(--yellow);
}
/*  end top bar */

/*  start navbar */
.navbar {
    background-color: #849561 !important;
}
.navbar-brand i,
.navbar-brand .gold {
    color: var(--yellow);
}
.navbar-brand .logoSecPart {
    font-size: 15px;
    display: block;
    line-height: normal;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #EED690 !important;
}
.navbar-collapse {
    flex-grow: unset;
}
/*  end navbar */

/*  start header */
.header {
    height: 85vh;
    background-image: url('./img/pexels-jonathan-petersson-1198507.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    background-color: rgba(0, 0, 0, 0.7); 
    background-blend-mode: darken;
    color: var(--yellow);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .btn {
    background-color: var(--green);
    color: var(--yellow);
    width: 150px;
    font-size: 1.2rem;
}
.header .btn:hover {
    background-color: var(--yellow);
    color: var(--dark);
}
/*  end header */

/*  start features */
.features {
    background-color: var(--light-green);
}
.card-col {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.features-card {
    background-color: var(--green);
    height: 200px;
    margin-top: -20%;
    padding: 10px;
}
.features-card.card-1 {
    background-color: #c3db92;
}
.features-card.card-2 {
    background-color: #a4b97a;
}
.features-card i {
    color: var(--dark);
    font-size: 30px;
    margin: 10px;
}
.features .btn {
    color: var(--green);
    border: 1px solid var(--green);
}
.features .btn:hover {
    background-color: var(--green);
    color: var(--yellow);
}
.features span {
    color: var(--green);
}
.features h2::after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: var(--green);
    display: block;
    margin: auto;
    margin-top: 8px;
}
.features .chooseUs-card {
    background-color: #ECEFD8 !important;
}
.features .chooseUs-card .img-fluid {
    height: 200px !important;
    width: 300px !important;
}
/*  end features */

/*  start about us */
.about-us {
    background-color: var(--green);
}
.about-us span {
    color: var(--yellow);
}
.about-us h2::after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: var(--yellow);
    display: block;
    margin: auto;
    margin-top: 8px;
}
.about-us .btn {
    color: var(--yellow);
    border: 1px solid var(--yellow);
}
.about-us .btn:hover {
    background-color: var(--yellow);
    color: var(--dark);
}
/*  end about us */

/*  start what-we-do */
.our-services {
    background-color: var(--light-green);
}
.our-services span,
.our-services h5 {
    color: var(--green);
}
.our-services h2::after,
.our-services h5::after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: var(--green);
    display: block;
    margin: auto;
    margin-top: 8px;
}
.our-services h5::after {
    margin: 7px 0;
}
.what-we-do .first {
    background: rgb(132,149,97);
    background: linear-gradient(90deg, rgba(236,239,216,0.5)  0%, rgba(238,214,144,0.5) 50%, rgba(132,149,97,0.5) 100%);
    border-left: 3px dotted var(--green);
}
.what-we-do .second {
    background: rgb(132,149,97);
    background: linear-gradient(90deg, rgba(132,149,97,0.5) 0%, rgba(238,214,144,0.5) 50%, rgba(236,239,216,0.5) 100%);
    border-right: 3px dotted var(--green);
}
.our-services .btn {
    color: var(--green);
    border: 1px solid var(--green);
}
.what-we-do .btn:hover {
    background-color: var(--green);
    color: var(--yellow);
}
/*  end what-we-do */

/*  start news */
.news {
    background-image: url('./img/pexels-jonathan-petersson-1297307.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    background-color: rgba(57, 57, 57, 0.9);  
    background-blend-mode: darken;
    background-attachment: fixed;
    color: var(--light-green);
}
.news span {
    color: var(--green);
}
.news h2::after,
.news h5::after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: var(--light-green);
    display: block;
    margin: auto;
    margin-top: 8px;
}
.news h5::after {
    margin: 7px 0;
}
.news .btn {
    color: var(--light-green);
    border: 1px solid var(--light-green);
    width: 100px;
    margin-left: auto;
}
.news .btn:hover {
    background-color: var(--light-green);
    color: var(--dark);
}

/*  end news */

/*  start footer */
footer {
    background-color: var(--dark);
    color: var(--light-green);
}
footer .social-icons {
    font-size: 25px;
    margin-top: 10px;
}
.footer-brand i,
.footer-brand .gold {
    color: var(--yellow);
}
.footer-brand .logoSecPart {
    font-size: 15px;
    display: block;
    line-height: normal;
}
/*  end footer */



@media (max-width: 900px) {
    .about-card {
        height: 250px;
    }
}

@media (max-width: 768px) {
    .about-card {
        margin-top: 0;
        height: unset;
    }
    .features-card.card-2,
    .features-card.card-3 {
        margin-top: 0;
    }
    .features .chooseUs-card .img-fluid {
        width: 450px !important;
    }
    .news .btn {
        margin-left: 20px;
    }
    footer .form-control {
        width: 70%;
    }
}

@media (max-width: 500px) {
    .top-bar {
        font-size: 0.9rem;
    }
    .header h1:first-child{
        font-size: 17px;
    }
    .header p {
        font-size: 1rem;
    }
    .features .chooseUs-card .img-fluid {
        width: 350px !important;
    }
    .about-us h2 {
        margin-top: 3rem;
    }
    .our-services h5 {
        margin-top: 2rem!important;
    }
    footer h5 {
        font-size: 1rem;
    }
}
